<div class="panel panel-default">
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>写真</th>
          <th>名前</th>
          <th></th>
          <th></th>
          <th>いいね数</th>
          <th>ありがとう数</th>
        </tr>
      </thead>
      <tbody class="text-left">
        <% @users.each do |user| %>
        <tr>
          <td><%= link_to "#{user.id}", "/users/#{user.id}/mypage" %></td>
          <th><%= image_tag user.image1, :size => '50' %></th>
          <td><%= user.user.name %></td>
          <td><%= link_to "チャット", "/premium/messages/#{user.id}", class: "btn btn-success" %></td>
          <td><%= link_to "コミュ", "", class: "btn btn-warning" %></td>
          <td></td>
          <td></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

