<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="">Premium管理画面</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><%= link_to 'Preユーザ一覧', premium_path  %></li>
        <li><%= link_to 'Pre作成', pre_new_premium_user_index_path %></li>
        <li><%= link_to '新着' %></li>
        <li><%= link_to 'Admin', admin_path  %></li>
        <li><%= link_to 'TOP', root_path %></li>
      </ul>
    </div>
  </div>
</nav>