<%= render 'partial/navbar' %>
<div class="container">
  <div class="row">
    <div class="col-md-3 row-space-4">
    <!-- 自分のプロフィールへのリンク -->
    <%= link_to "自分のプロフィールを確認する", user_path(current_user), class: "btn btn-default btn-full" %>
    </div>

    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-heading">プロフィールを編集</div>
        <div class="panel-body">
          <%= form_for @user, url: user_path(current_user) do |f| %>
            <div class="row">
              <div class="col-md-12 select">
                <div class="form-group">
                  <label>属性</label>
                  <%= f.select :sex, [["L",1], ["G",2], ["B",3], ["T",4], ["S",5]], {prompt:"選択してください"}, {required: 'true', autofocus: 'true', class: 'form-control'} %>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 select">
                <div class="form-group">
                  <label>タチ・ネコ</label>
                  <%= f.select :play_style, [["タチ",1], ["ネコ",2], ["リバース",3]], {prompt:"選択してください"}, {required: 'true', class: 'form-control'} %>
                </div>
              </div>
            </div>


            <div class="row">
              <div class="col-md-12 select">
                <div class="form-group">
                  <label>生年月日</label>

                  <%== sprintf( f.date_select(
                          :birthday,
                          use_month_numbers: true,
                          start_year: 1930,
                          end_year:   (Time.now.year - 18),
                          default:    Date.new(1980, 1, 1),
                          date_separator: '%s', datetime_separator: '%s' ), '年', '月') + '日' %>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 select">
                <div class="form-group">
                    <label>都道府県</label>
                    <%= f.select :address, [["北海道","北海道"], ["青森","青森"], ["岩手","岩手"]], {prompt:"選択してください"}, {required: 'true', autofocus: 'true', class: 'form-control'} %>
                </div>
              </div>
            </div>


            <div class="actions">
              <%= f.submit "プロフィールを更新", :class => "btn btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
