<!-- 認証チェックマーク -->
<script type="text/javascript">
  $(function(){
    <% if !@user.email.blank? %>
      $("#ver-email").attr('class','vertification-checked');
    <% end %>
    <% if !@user.uid.blank? %>
      $("#ver-tel").attr('class','vertification-checked');
    <% end %>
    <% if @user.provider == "facebook" %>
      $("#ver-facebook").attr('class','vertification-checked');
    <% end %>
  })
</script>

<div class="container">
  <div class="row">
    <div class="col-lg-3 col-md-4">
      <div class="text-center">
        <%= image_tag @user.image, class: "img-circle", size: '200' %>
      </div>

      <div class="panel panel-default hidden-xs hidden-sm">
        <div class="panel-heading">
          認証済みID
        </div>
        <div class="panel-body">
          <div id="ver-email">
            メールアドレス
          </div>
          <br>
          <div id="ver-tel">
            電話番号
          </div>
          <br>
          <div id="ver-facebook">
            facebook
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-9 col-md-8 col-sm-12">
    <li><%= link_to "プロフィール編集", edit_user_registration_path %></li>
    <li><%= link_to "プロフィール詳細編集", edit_user_path(@user.id) %></li>
    <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
      <h1>こんにちは<%= @user.name %>です！</h1>
      <p>自己紹介</p>
    </div>
  </div>
</div>

